@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: light dark;
}

html, body, #root {
	height: 100%;
}

body {
	margin: 0;
	font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
	background: #f3f4f6;
	color: #111827;
}

html.dark body {
	background: #111827;
	color: #f9fafb;
}
.bg-grid-pattern {
	background-image: 
		linear-gradient(to right, currentColor 1px, transparent 1px),
		linear-gradient(to bottom, currentColor 1px, transparent 1px);
	background-size: 40px 40px;
}